
/* --- Search Input --- */

.search {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: min-content;
}

.search .field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.search-bar .search-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.search-field .submit-search{
    background-color: #011522;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: none;
    cursor: pointer;
    height: min-content;
    align-self: self-end;
}

.search .input-select{
    background-color: #011522;
    color: white;
    border-radius: 5px;
    border: none;
    z-index: 10;
    padding: 0.5rem;
    width: 300px !important;
}

.search .input-select option{
    background-color: #011522;
    color: white;
}

.search .input-text {
    background-color: #011522;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    border:none;
}

/* --- Post Card --- */

.posts-title {
    font-size: 2rem;
    text-align: center;
}

.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 0;

}

.post{
    width: 70%;
    margin: 1rem auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    transition: 0.5s ease-in-out;
}

.post .tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.post .tools .circle {
    padding: 0 4px;
}

.circle:hover {
    scale: 1.1;
    transition: 0.1s ease-in-out;
}

.circle .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.post-preview {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.post-preview .post-title {
    margin: 0;
    color: #ff605c;
    cursor: pointer;
    font-size: 2.2rem;
}

.post-preview .post-title span {
    color:#00ca4e;
}

.post-preview .post-title a {
    font-size: 2.2rem;
    color: white;
    margin: 0;
    text-decoration: none;
}

.post-preview .post-title a:hover {
    color: thistle;
    text-decoration: none;
}

.post-preview .post-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.post-preview .author,
.post-preview .date {
    margin: 0;
    color: #ffbd44;
    font-size: 0.9rem;
}

.content-preview {
    margin: 1rem 0;
    color: white;
    font-size: 1.2rem;
}

.tags-preview{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.tags-preview .tag-card {
    background-color: #ffffff04;
    filter: drop-shadow(0 0 0.75rem #ffffff);
    color: #00ca4e;
    font-size: 0.8rem;
    padding: 0.1rem 0.3rem;
    font-weight: bold;
    border-radius: 8px;
    min-width: 50px;
    text-align: center;
}

.tag-card p{
    margin: 0;
}